.custom-datepicker {
    position: relative;
    width: 5rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: #333ca9;
    font-family: 'Montserrat';
    margin-right: 1.5rem;
    margin-left: 1rem;
    /* margin-top: 4rem; */
  }
  
  .custom-date-picker input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }


.h1-datepicker{
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 0rem;
    font-size: 0.85rem;
    text-align: left;
    color: #1b5d96;
    font-weight: bold;
    font-family: 'Montserrat';
  }