/* src/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c5169;
    padding: 10px 50px;
    color: white;
    height: 2.5rem;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    border-bottom: 4px solid #fff;
  }
  
  .logo img {
    width: 100px;
  }
  
  /* Style the navigation links */
  .nav-links {
    display: flex;
    gap: 20px;
    font-family: 'Montserrat', sans-serif; /* Use 'Montserrat' with a fallback sans-serif font */
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #ff5733; /* Change the color on hover */
  }
  
  /* Style the active link */
  .nav-links a.active {
    color: #ff5733; /* Highlight color for the active link */
  }
  
  .time-range-selector {
    /* Add styling for the time range selector here */
  }
  