/* ColoredRectangle.css */
.colored-rectangle {
    /* display: flex; */
    width: 7rem; /* Total width is 15% of the screen width */
    justify-content: space-between; /* Spacing between colors */
    align-items: center; /* Vertically center the colors */
    height: 40px; /* Set a fixed height for the colored rectangle */
    margin-top: 2rem; /* Center the rectangle horizontally */
  
  }
  
  .color {
    flex: 1;
    height: 100%; /* Each color takes up the full height of the rectangle */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .temp1 {
    background-color: #d8a6268c;
    color: white;
  }
  
  .temp2 {
    background-color: #FED976;
    color: white;
  }
  
  .temp3 {
    background-color: #FEB24C;
    color: white;
  }
  
  .temp4 {
    background-color: #FD8D3C;
    color: white;
  }
  
  .temp5 {
    background-color: #FC4E2A;
    color: white;
  }
  
  .temp6 {
    background-color: #E31A1C;
    color: white;
  }
  
  .temp7 {
    background-color: #BD0026;
    color: white;
  }
  
  .temp8 {
    background-color: #800026;
    color: white;
  }
  .no-pointer-events {
    pointer-events: none;
}
.leaflet-popup-content{
  text-align: center;
  font-size: 1.15rem;
  font-weight: bold;
  color: #f2f7f3;
}
/* .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #4d3ced;
  color: #333;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
} */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #4d3ced;
  color: #333;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

  .prep1{
    background-color: #034e7b;
  }
  .prep2{
    background-color: #0570b0;
  }
  .prep3{
    background-color: #3690c0;
  }
  .prep4{
    background-color: #74a9cf;
  }
  .prep5{
    background-color: #a6bddb;
  }
  .prep6{
    background-color: #d0d1e6;

  }
  .prep7{
    background-color: #f1eef6;
  }


  .w1 {
    background-color: #bbdee5;
    color: #d8ebef;
  }
  
  .w2 {
    background-color: #e0ecf4;
    color: #c1a2a2;;
  }
  
  .w3 {
    background-color: #b6e5f2;
    color: white;
  }
  
  .w4 {
    background-color: #bfd3e6; 
    color: white;
  }
  
  .w5 {
    background-color: #9ebcda;
    color: white;
  }
  
  .w6 {
    background-color: #8c96c6;
    color: white;
  }
  
  .w7 {
    background-color: #8856a7;
    color: white;
  }
  
  .w8 {
    background-color: #810f7c;
    color: white;
  }

  .wv3 {
    background-color: #f6eff7;
    color: #393030;
  }
  
  .wv4 {
    background-color: #d0d1e6; 
    color: #393030;
  }
  
  .wv5 {
    background-color: #a6bddb;
    color: #393030;
  }
  
  .wv6 {
    background-color: #67a9cf;
    color: #393030;
  }
  
  .wv7 {
    background-color: #1c9099;
    color: #393030;
  }
  
  .wv8 {
    background-color: #016c59;
    color: #393030;
  }
  .value-cloud {
    text-align: center;
    margin-top: 5px;
    color: 393030;
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .value {
    text-align: center;
    margin-top: 5px;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
  }

  .value-prep {
    text-align: center;
    margin-top: 5px;
    /* color: #eb79a6; */
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  
  .unit {
    font-size: 14px; /* Adjust the font size for the unit */
    margin-top: 2px; /* Adjust the margin for spacing */
    display: inline-block; /* Display the unit inline with the value */
    margin-left: 4px; /* Add a small margin between value and unit */
  }
  

  /* eturn value > 2.0 ? '#0033CC' : // Very Wet
          value > 1.5 ? '#3366FF' : // Wet
          value > 1.0? '#6699FF' : // Moderate
          value > 0.5  ? '#99CCFF' :
          value > 0.2  ? '#CCE5FF' :
          value > 0.1  ? '#E5F2FF' :
                     '#F0F8FF'; // Dry */