.App {
  text-align: center;
  height: 100%
  
}
.leaflet-control-custom {
  border: none !important;
  box-shadow: none !important;
}

.map-icon {
  /* Regular non-hover state style here */
}

.rot{
  color: red;
  transform: rotate(0deg);
}

.map-icon:hover {
  background-color: #b9a18a;  /* Darker shade of the background */
  transform: scale(1.1);  /* Enlarges the icon */
  transition: all 0.3s ease;  /* Animation effect */
  
}

.fa-arrow-right:before {
  content: "\f061";
  color: #251e1e;
}




html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}




#map {
  height: 100vh;
}

.info {

  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.info.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info.legend {
  /* padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif; */
  /* background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px; */
  line-height: 18px;
  color: #555;
}

.info.legend i {
  width: 23px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}



.info.leaflet-control{
  margin-top: 2rem;
}

.timeline-day-ruler {
  width: 100%; /* Make the control span the full width of the map */
  /* bottom: 0; Adjust if needed */
  left: 0;
  right: 0;
  margin: 0; /* Remove any default margins */
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
  margin-bottom:10rem
}

.leaflet-left {
  left: 0;
  margin-bottom: 7rem;
  width:100%
}